/*#region IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&family=Space+Mono&display=swap');
/*#endregion*/

/*#region Banner */
html {
    background-color: rgba(42,78,91,1);
}

header {
    background: rgba(66, 66, 66, 0.538) url(../assets/images/header_logo.png) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    height: 225px;
    /* display:flex;
    flex-direction: column; */
}
nav {
    position: absolute;
    width: 99%;
    top: 7px;
    background-color: rgba(66, 66, 66, 0.75);
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row; */
    justify-content: left;
}
nav ul li {
    border-color: #fff;
    border-radius: 35px;
    border-width: 2px;
    border-style: solid;
    margin-right: 10px;
    gap: 5px;
    background-color: hsla(223, 40%, 40%, 0.55);
    transition: background-color 1s;
}
nav ul li:hover {
    background-color: hsla(223, 40%, 40%, 0.85);
}
nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    width: auto;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 515;
}
nav ul li a:hover {
    text-decoration: underline;
}
/*#endregion*/

main .page {
    background-color: rgba(42, 78, 91, 0.85);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 5px;
}

/*#region Footer */
footer {
    position: relative;
    height: 35px;
    padding-top: 15px;
    background: rgb(42,78,91);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(42,78,91,0.85) 100%);
    border-radius: 0 0 15px 15px;
}
footer .content {
    position: absolute;
    left: 25%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

footer .content a {
    color: blue;
}
/*#endregion*/

@media only screen and (max-width: 825px) {
    
    main .page {
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav {
        left: -10px;
    }

    nav ul {
        gap: 10px;
        justify-content: space-between;
    }

    nav ul li a {
        font-size: 0.8em;
    }
    footer .content {
        left: 5%;
    }
}

@media only screen and (max-width: 390px) {
    nav {
        /* transform: translateX(-10px); */
        width: auto;
        top: auto;
        background-color: rgba(42, 78, 91, 0.85);
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: left;
        align-items: flex-start;
        flex-shrink: 2;
    }

    nav ul li {
        flex-shrink: 2;
        width: 35%;
    }

    nav ul li a {
        font-size: 1em;
    }
    footer {
        display: none;
    }
}