.page {
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filterBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 15px;
    width: 15%;
    background-color: rgba(121, 165, 181, 0.85);

    border-style: solid;
    border-color: white;
    border-width: 1.45px;
    border-radius: 10px 10px;
}
.filterBox .filterByPrice {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
}

.filterBox .filterByPrice label {
    font-size: 1.2em;
    color: #FFF;
}

.filterBox .filterByPrice input {
    font-size: 1.2em;
}

.filterBox .filterByPrice hr {
    width: 100%;
    color: #FFF;
}

.filterBox .clear-filter {
    padding: 2.5px 5px;
    background-color: rgb(250, 134, 134);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #FFF;

    border-style: none;
    border-radius: 10px;
    
}

.tickets-box {
    width: 100%;
    border-style: none;
    border-radius: 15px;
    background-color: rgba(121, 165, 181, 0.85);

    display: flex;
    flex-direction: column;
}

.post-status {
    display: none;
    background: rgba(121,165,181,0.85);
    border-style: none;
    border-radius: 15px;
}

.post-status-text {
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    color: Green;
    text-shadow: 1px 1px black;

    height: 2.5px;
    align-self: center;
}

.tickets-list {
    margin: 15px 10px;
    padding: 10px 10px;
    background-color: rgba(121, 165, 181, 0.85);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    border-style: none;
    border-radius: 15px;
}

.ticket-element {
    background-color: rgba(74, 98, 107, .85);

    border-radius: 15px;
    padding: 15px 0;
    padding-left: 12px;
    padding-right: 12px;
    width: 190px;
    height: 343px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.trip-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.ticket-element h5 {
    color: #FFF;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

.ticket-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ticket-controls label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    color: #FFF;
}

.ticket-count-button-subtr, .ticket-count-button-add {
    font-size: 1.2em;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    width: 50px;
    height: 35px;
}


.ticket-count-button-subtr:hover, .ticket-count-button-add:hover {
    cursor: pointer;
}

.ticket-count-button-subtr {
    background-color: rgb(250, 134, 134);
}

.ticket-count-button-add {
    background-color: rgb(132, 207, 66);
}
.add-to-cart {
    border-style: none;
    border-radius: 5px;
    background-color: rgb(238, 255, 0);

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.add-to-cart:hover {
    cursor: pointer;
}

.shopping-cart {
    margin: 15px 10px;
    padding: 10px 10px;
    background-color: rgba(121, 165, 181, 0.85);
    border-style: none;
    border-radius: 15px;
}

.shopping-cart h4 {
    font-size: 24px;
}

.shopping-cart h5 {
    font-size: 18px;
}

.shopping-cart hr {
    width: 20%;
    margin-left: 0;
}

.shopping-cart h4, h5, hr {
    color: #FFF;
}

.order-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.finish-order, .clear-cart {
    border-style: none;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;

    padding: 0 10px;

    color: #FFF;
}

.finish-order:hover {
    cursor: pointer;
}
.clear-cart:hover {
    cursor: pointer;
}

.finish-order {
    background-color: rgb(132, 207, 66);
    height: 35px;
}
.clear-cart {
    background-color: rgb(250, 134, 134);
    height: 35px;
}
