<div class="page">
    <aside class="content journey-options">
        <div class="filter-vehicles">
            <label>Vehicle Type</label><hr width="100%">
            <input id="btn-all" class="vehicle-filter-button" type="button" value="All" ng-click="FilterByVehicle($event)"></input>
            <input id="btn-airplane" class="vehicle-filter-button" type="button" value="Airplane" ng-click="FilterByVehicle($event)"></input>
            <input id="btn-boat" class="vehicle-filter-button" type="button" value="Boat" ng-click="FilterByVehicle($event)"></input>
            <input id="btn-bus" class="vehicle-filter-button" type="button" value="Bus" ng-click="FilterByVehicle($event)"></input>
            <input id="btn-train" class="vehicle-filter-button" type="button" value="Train" ng-click="FilterByVehicle($event)"></input>
        </div>
        <div id="destinations-filter" class="filter-destinations">
            <label>Destinations</label><hr width="100%">
            <input id="btn-dest-all" class="destination-filter-button" type="button" value="All" ng-click="FilterByDestination($event)">
            <input id="btn-dest{{$index}}" class="destination-filter-button" type="button" value="{{item}}" ng-repeat="item in destinations" ng-click="FilterByDestination($event)">
        </div>
    </aside>
    <aside id="journey-list" class="content journey-list">
        <div id="journey{{$index}}" class="journey-data" ng-repeat="item in journeys">
            <img src="{{GetVehicleImage(item.vehicleModel)}}" width="200px" height="125px">
            <h5>
                Starting Location: {{item.startLocation}}<br>
                Destination: {{item.destination}}<br>
                Distance: {{item.distance}} km<br>
                Price: {{item.price}} BGN<br>
                Transport: {{QueryVehicleType(item.vehicleModel)}}
            </h5>
        </div>
    </aside>
</div>